* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  width: 100%;
  max-width: 88px;
  border-radius: 100%;
}
