:root {
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --white: #ffffff;
  --green: #c4f82a;
  --spacing-40: 40px;
  --spacing-24: 24px;
  --spacing-16: 16px;
  --spacing-12: 12px;
  --spacing-8: 8px;
  --spacing-4: 4px;
  /* --text-preset-1: 24px;
  --text-preset-2: 14px; */
  --font-display: swap;
  --line-height: 150%;
  --letter-spacing: 0;
  --font-size-base: calc(14 / 16 * 1rem);
  --font-size-big: calc(24 / 16 * 1rem);
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: var(--font-display);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@font-face {
  font-family: "Inter Bold";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: var(--font-display);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.text-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
}

.text-bold-big {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-big);
}

.text-bold-small {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
}

.color-green {
  color: var(--green);
}

.text-center {
  text-align: center;
}

h1,
p,
a,
img,
figure {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Inter";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

.card {
  background-color: var(--grey-800);
  max-width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-40);
  color: var(--white);
  gap: var(--spacing-24);

  .heading-name {
    margin-bottom: var(--spacing-4);
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-16);
  width: 100%;

  li {
    display: block;
    background-color: var(--grey-700);
    width: 100%;
    padding-top: var(--spacing-12);
    padding-bottom: var(--spacing-12);
  }
}

.card-img {
  width: 100%;
  max-width: 88px;
  border-radius: 100%;
}

body {
  background-color: var(--grey-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
