:root {
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --white: #ffffff;
  --green: #c4f82a;
  --spacing-40: 40px;
  --spacing-24: 24px;
  --spacing-16: 16px;
  --spacing-12: 12px;
  --spacing-8: 8px;
  --spacing-4: 4px;
  --text-preset-1: 24px;
  --text-preset-2: 14px;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Bold";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
p,
a,
img,
figure {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Inter";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

.card {
  background-color: var(--grey-800);
  max-width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-40);
  color: var(--white);

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin-bottom: var(--spacing-4);
  }

  .city {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #c4f82a;
  }
}

.card-img {
  margin-bottom: var(--spacing-24);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-16);

  li {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    background-color: var(--grey-700);
    width: 304px;
    height: 45px;
    text-align: center;
    line-height: 45px;
  }
}

.card-img {
  width: 100%;
  max-width: 88px;
  border-radius: 100%;
}

body {
  background-color: var(--grey-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
